@import "./colors";
// .header{
//     flex-basis: 10vh;
//     background-color: #0388e5;
//     color: white;
//     }
//     .nowa{
//         height: 85px;
//     }

.header {
  flex-basis: 10vh;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  height: 10vh;
  background-color: $main-blue-color;
  .header-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  } 
  &__logo {
    margin-left: 50px;
  }
  &__logo-name {
    margin-left: 15px;
    color: white;
     }
  &__image {
    height: 85px;
   
  }
  &__login {
    margin-right: 50px;
    color: white;
    font-size: 1.6rem;
  }
  
}
