@import "./colors";

.title-remortgage-calculator{
    font-size:  2.5rem ;
    margin-top: 30px;
    text-align: center;
}
.wrapper-remortgage-tables{
    display: flex;
    // height: 115vh;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
     margin-left: 200px;
    // margin-right: 350px;
}
.owned-property, .remortgage-property {
  font-size: 1.6rem;
   border-collapse: collapse;
   border: 1px solid rgb(144, 144, 144);
   box-shadow: 5px 5px 10px rgb(144, 144, 144);
  margin: 30px 30px;
  th{
    background-color: $table-tfoot;
    color: $main-blue-color;
    font-size: 2rem;
   margin: 25px 25px;
  }
  tr,
  td {
    // border: 1px solid;
    padding:10px;
  }
  tr{
    background-color: $table-row;
  }
    tr:nth-of-type(odd) {
    background-color: #e9e9e9;
  }
  tr:hover{
     background-color: rgb(255, 255, 255);
   }
  th {
    padding: 5px;
  }
  input {
    border: none;
    padding: 5px;
    // background-color: #e9e9e9;
  }
}
// &__row {
//   background-color: $table-row;
//   &:nth-of-type(odd) {
//     background-color: #e9e9e9;
//   }
//   &:hover {
//     background-color: rgb(255, 255, 255);
//   }
// }
.btn-calculate-remortgage {
    margin-left: 200px;
    font-size: 2rem;
    margin: 30px auto;
    padding: 10px;
    background-color: $main-blue-color;
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
  }
  .amount-after-remortgage{
    font-size: 2rem;
  }
  .amount-to-transferred {
    font-size: 2rem;
    font-weight: bold;
  }
  .bad-value{
    color: tomato;
    font-size: 1rem;
    margin-top: 5px;
    // padding: 7px;
  }
  .amount-to-transferred{
    padding-left: 5px;
    font-size: 2.2rem;
    color: $main-blue-color;
  }