.header {
    flex-basis: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    /* // justify-content: space-between; */
    font-size: 2rem;
    height: 10vh;
        /* background-color: $main-blue-color; */
  
    &__logo {
      margin-left: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__logo-name {
      color: white;
      margin-right: 1300px;
    }
    &__image {
      height: 85px;
      /* // width: 200px; */
    }
    &__login {
      margin-right: 50px;
      color: white;
      font-size: 1.6rem;
    }
  }
  .nowa{
    height: 85px;
  }